.contacts {
  background: #d2eae3;
  position: relative;
  display: flex;

  h1 {
    font-family: 'BIG JOHN';
    font-size: 75px;
    color: #000;
    position: relative;
    letter-spacing: 2px;
    margin-left: 72px;

    &:before, &:after {
      content: '';
      width: 483px;
      height: 5px;
      background: #000;
      display: block;
      position: absolute;
    }

    &:before {
      left: 5px;
      top: 93px;

    }
    &:after {
      left: 50px;
      top: 103px;
    }
  }

  .contacts__message-area {
    width: 50%;
    padding-top: 200px;
    padding-right: 80px;
    label {
      font-family: 'BIG JOHN';
      font-size: 18px;
      color: #000000;
      display: block;
    }

    input, textarea {
      border: 4px solid #000;
      background: #fad663;
      text-indent: 6px;
      padding: 10px 0;
      border-radius: 10px;
      display: block;
      margin: 10px 0 20px;
      width: 100%;
    }

  }

  .contacts__contact-info {
    width: 50%;
    padding-top: 200px;
    position: relative;
  }

}